html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* _____________________________________________ */

:root {
    font-size: 10px; 
    --basic-gray: #e2e8f0; 
    --copy-blue: #1992d4; 
    --yellow: #f0b429; 
    /* --box-shadow: 0 5px 6px rgba(209, 215, 222, .8); */
    --box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif; 
}

.container {
    height: 100vh; 
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr; 
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);  */
    

    a:visited {
        text-transform: none;
        color: black; 
    }

    h3 {
        font-size: 2.25rem;
    }

    h4 {
        font-size: 1.75rem;
        font-weight: 550; 
    }
    h5 {
        font-size: 1.4rem;
        font-weight: 550; 
        line-height: 1.5;
    }
    hr {
        border: none; /* Remove default border */
        height: 1px; /* Set height of the horizontal rule */
        background-color: #ccc; /* Set background color to gray */
        margin: 20px 0; /* Add some margin for spacing */
      }
}

.header {
    /* background-color: white; */
    display: grid; 
    background-color: white;
    grid-row: 1/2; 
    grid-column: 2/3; 
    box-shadow: var(--box-shadow); 
    z-index: 99; 
    padding-top: 2rem;
    padding-bottom: 2rem; 
    /* padding-left: 2rem;   */
    /* margin: 1rem 0;  */


    .topline {
        display: flex; 
        /* justify-content: space-around; */
        align-items: center; 
        padding-left: 3%; 
        padding-bottom: 2rem; 

            .search {
                background-color: var(--basic-gray);
                border: none;
                flex: 1; 
                margin-left: 2%; 
                border-radius: 2rem 2rem; 
                height: 2.5rem; 
                margin-right: 5%; 
                padding: .25rem 1.5rem; 
            }

            .nameplate {
                flex: .35; 
                justify-content: start;
            }
    }

    .bottomline {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        align-items: center; 

        .hero-name {
            grid-column: 1/2; 
            display: grid; 
            grid-template: 2fr 3fr/ 1fr 4fr;

            .hi-there {
                grid-area: 1/2/2/3;
            }

            h3 {
                grid-area: 2/2/3/3;
            }

            .logo {
                grid-area: 1/1/3/2; 
            }
        }

        .buttons {
            grid-column: 2/3; 
            display: grid; 
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem; 
            margin-left: 25%; 
            margin-right: 20%; 

            button {
                border-radius: 2rem 2rem; 
                border: none; 
                padding: .75rem 0; 
                color: white; 
                font-weight: 600;
                background-color: var(--copy-blue); 
            }
        }
    }
}

.sidebar {
    grid-row: 1/3; 
    grid-column: 1/2; 
    background-color: var(--copy-blue); 

    .dashboard {
        background-color: rebeccapurple; 
    }

    .primary-links {
        background-color: green;
        display: grid; 
        grid-template-rows: 1fr; 
    }

    .secondary-links {
        background-color: lime; 
        display: grid; 
        grid-template-rows: 1fr; 
    }
}

.projects {
    grid-row: 2/3; 
    grid-column: 2/3;  
    background-color: var(--basic-gray);
    display: grid; 
    grid-template: 1fr / 3fr 1fr; 
    padding: 3rem 2rem;
    
    h1 {
        font-size: 2rem; 
        font-weight: 500;
        margin: 0; 
    }

    .project-cards {
        grid-column: 1/2; 
        background-color: var(--basic-gray);  
        display: grid; 
        grid-template-rows: .25fr 10fr; 
        /* grid-row: 1/1;  */
        /* column-gap: 2rem;  */
        gap: 2rem; 
        /* margin-left: 2rem;  */
        /* margin-bottom: 4rem; */
        /* margin-top: 4rem;   */
        
        .project-title {
            grid-row: 1/2; 
            grid-column: 1/3; 
            align-self: end; 
            margin-bottom: -.75rem; 
        }
        
        .cards {
            display: grid; 
            grid-row: 2/3; 
            grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
            gap: 2rem; 
        }

        .card {
            /* margin: 2rem;  */
            background-color: white;
            /* height: 17.5rem;  */
            /* height: minmax(17.5rem, 1fr);  */
            /* width: 30rem;  */
            border-radius: 1rem .75rem; 
            border-left: .75rem solid var(--yellow); 
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            padding: 3rem 2rem; 

            p {
                font-size: 1.5rem; 
                line-height: 1.25; 
                color: gray; 
            }
        }
    }

    .extras {
        grid-column: 2/3; 
        /* margin: 2rem 0; */
        /* margin-right: 2rem;   */
        /* grid-row: 1/1;  */
        display: grid; 
        /* grid-template-rows: 1fr 10fr;  */
        grid-template: .25fr 10fr .25fr 10fr / 1fr; 
        /* row-gap: 2rem;  */
        /* gap: 2rem;  */

        .announcement-title {
            grid-row: 1/2; 
            align-self: end; 
            margin-bottom: 1.35rem; 
            margin-top: .85rem; 
        }
        
        .announcements {
            grid-row: 2/3; 
            background-color: white;
            border-radius: 1rem 1rem; 
            display: grid; 
            grid-template-rows: 1fr .1fr 1fr .1fr 1fr;
            padding: 3rem; 
            margin-bottom: 4rem;
            box-shadow: var(--box-shadow);

            .announcement {
                margin: 0; 

                p   {
                    font-size: 1.25rem; 
                    line-height: 1.25; 
                    color: gray; 
                }
            }
        }

        .trending-title {
            grid-row: 3/4; 
            margin-bottom: 1.4rem; 
        }
        
        .trending {
            display: grid;
            grid-template-rows: repeat(4, minmax(50px, 1fr)); 
            grid-row: 4/5; 
            background-color: white;
            /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);  */
            box-shadow: var(--box-shadow); 
            border-radius: 1rem 1rem; 
            padding: 2.5rem; 

            h1 {
                grid-row: 2/3; 
            }

            .trend {
                display: grid; 
                grid-template-columns: 1fr 2fr; 
                grid-row: 1fr 1fr; 

                div {
                    grid-row: 1/3; 
                    border: 1px solid red; 
                    place-self: center;
                    /* margin: 0 auto;  */
                }

                .username {
                    align-self: end; 
                }
                .application {
                    align-self: start; 
                }
            }
        }
    }
}