html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

  /*____________________________________*/

:root {
    font-size: 10px;
}

@font-face {
    font-family: "Norse Bold";
    src: url('./src/Norse-Bold.otf');
  }

body {
    display: flex; 
}

#hero {
    /* border: 1px solid red;  */
    width: 33%; 
    height: 100vh; 
    background-image: url(./src/anton-poznyak-in3-CLQb48A-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-content {
    height: 100%; 
    display: flex; 
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.logo {
    margin-top: 17.5rem; 
    margin-bottom: 52rem; 
    display: flex; 
    background-color: rgba(0,0,0, .65); 
    width: calc(100% - 2rem); 
    justify-content: center;
    align-items: flex-end; 
    font-family: 'Norse Bold', sans-serif;
    padding: 1rem; 
}

.logo img {
    height: 12.0rem; 
    width: auto; 
}

.logo p {
    font-size: 10rem; 
    color: white; 
}

.photo-cred {
    /* height: 10%;  */
    font-size: 1.25rem; 
    color: white; 
}

.photo-cred a {
    color: white; 
}

#info {
    /* border: 1px solid blue;  */
    width: 67%; 
    height: 100vh; 
}
