/* index.js */
@font-face {
    font-family: 'Schibsted_Grotesk';
    src: url(./Schibsted_Grotesk/SchibstedGrotesk-VariableFont_wght.ttf), 
    url(./Schibsted_Grotesk/SchibstedGrotesk-Italic-VariableFont_wght.ttf) format('truetype'); 
}

@font-face {
    font-family: 'Beckys Bakery';
    src: url(./Pink\ Script\ R1.otf), format('opentype'); 
}

:root {
    box-sizing: border-box;
    padding: 0; 
    margin: 0; 
    font-family: 'Schibsted_Grotesk';
    /* font-family: 'Beckys Bakery'; */
    font-size: 10px; 
    --background-color: #3c4043; 
    background-color: #3c4043;

}

header {
    padding-top: 1rem; 
    background-color: rgba(211, 211, 211, .8);
    /* position: sticky;  */
    position: sticky; 
    top: 0px; 
    z-index: 999;
}

body {
    padding: 0; 
    margin: 0; 
    /* background-color: var(--background-color); */
    background-color: white;

button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  margin-bottom: 1rem ; 
}

button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
    
}

nav {
    display: flex; 
    justify-content: center;
    gap: 1.5rem; 
    position: relative; 
    z-index: 999; 
}

.hero {
    /* background: url('./img/mae-mu-kID9sxbJ3BQ-unsplash.jpg');  */
    background-image: url('./img/mae-mu-kID9sxbJ3BQ-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: blue; */
    height: 90vh; 
    width: 100vw; 
    color: white; 
    padding-top: 5rem; 
    /* box-shadow: 0 0 .8rem .8rem white; */

     h1 {
        /* color: white;  */
        font-family: 'Beckys Bakery';
        font-size: 12rem; 
        font-weight: 400;
        margin-left: 20rem; 
        /* margin-top: 10%;  */
     }

     h2 {
        /* color: white;  */
        font-size: 3rem; 
        font-weight: 400;
        margin-left: 7.5rem; 
     }
}

.hero-text {
    margin: 4rem auto; 
    width: calc(100vw - 30%); 

    p {
        font-size: 2rem; 
    }
}

footer {
    font-size: 2rem; 
    background-color: lightgrey;
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    
    .socials {

    }
}

/* About.JS */
.container {
     width: 100%;
     /* background-color: #3c4043; */
     color: white;
     background-color: var(--background-color);

}

.bakerDiv {
    display: grid; 
    grid-template: .5fr 4fr / 2fr 1fr; 
    width: calc(100% - 15rem); /*7.5rem of padding on each side */
    padding: 0 7.5rem; 
    /* margin-bottom: 2rem; */
    line-height: 1.75;
    
    h1 {
        grid-area: 1/1/2/3; 
        font-size: 3rem; 
    }
    
    .text {
        grid-area: 2/1/3/2; 
        font-size: 2rem; 
        /* padding: 0 3rem;  */
        padding-right: 10rem; 
        
        p {
            margin-top: 0;
        }
    }

    .picture-div {
        grid-area: 2/2/3/3; 

        img {
            max-width: 100%; 
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 2rem; 
            /* align-self: center; */
        }
    }
}

.bakery {
    display: grid; 
    grid-template: .5fr 5fr / 1fr 2.5fr; 
    width: calc(100% - 15rem); 
    padding: 0 7.5rem; 
    /* margin-bottom: 2rem;  */
    padding-bottom: 2rem; 

    h1 {
        grid-area: 1/1/2/3; 
        font-size: 3rem; 
        width: 100%; 
        text-align: right;
        align-self: bottom;
    }

    .text {
        grid-area: 2/2/3/3; 
        font-size: 2rem; 
        padding-left: 10rem; 
        width: calc(100% - 7.5rem); 
        line-height: 1.75; 
        /* margin-top: 1rem; */
        
        p {
            padding-right: 7.5rem; 
            max-width: 100%; 
            margin-top: 7rem; 
        }
    }
    
    .picture-div {
        grid-area: 2/1/3/2; 

        .picture {
            width: 100%; 
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
}


/* recipe.js */
.meal-div {

}

.meal-header {
    padding: 2rem; 
    /* margin: 0 auto;  */
    justify-self: center;
    margin: 0 auto; 
    text-align: center; 
    font-size: 8rem; 
    font-family: 'Beckys Bakery';
    letter-spacing: .5rem;
}

.cards-container {
    display: grid; 
    /* grid-template-rows: repeat(auto-fit); */
    padding: 0 5rem; 

    .card {
        /* border: 1px solid red;  */
        display: grid; 
        grid-template-columns: repeat(2, minmax(0, 1fr));
        /* grid-template-rows: repeat(2, 1fr);  */
        grid-template-rows: repeat(auto-fit, 1fr); 
        /* height: 50rem;  */
        padding: 2rem 0; 

        .card-info {
            display: grid; 
            /* justify-content: center; */
            grid-area: 1/1/2/2;

            p {
                font-size: 2.5rem; 
                margin: 0; 
            }

        }
        
        .image {
            display: grid;
            justify-content: center;
            grid-area: 1/2/3/3; 
            width: 100%; 
            max-height: 450px; 
            justify-items: center;
            overflow: hidden; 
            
            img {
                /* width: auto;  */
                position: relative; 
                object-fit: cover;
                height: 100%; 
                width: 90%; 
                border-radius: 1rem; 
                /* z-index: 1;  */
                /* margin: 0 auto;  */
                /* background-size: cover; */
                /* background-repeat: no-repeat; */
                /* background-position: 100% 50%;  */
            }

            #BlueberryMuffins {
                /* position:relative;  */
                top: -11%; 
            }
            
            #BreakfastBurrito {
                top: -11%;
            }
        }
        
        .instructions {
            grid-area: 2/1/3/2; 

            h3 {
                font-size: 2.5rem;
            }

            li {
                font-size: 1.5rem; 
                padding-bottom: 1rem; 
            }

        }
        
    }
}


