:root {
    --level1: solid 1px red; 
    --level2: solid 1px orange; 
    --level3: solid 1px yellow;
    --level4: solid 1px green; 
    --level5: solid 1px blue; 
    --level6: solid 1px indigo; 
    --level7: solid 1px black;
    --level8: solid 1px white;  
  }

html {
    box-sizing: border-box;
    background-color: #95a5a5; 
  }

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0; 
    margin: 0; 
  }

  h2 {
    text-align: center;
  }

.container {
    border: var(--level1); 
    width: 45%; 
    display: flex; 
    margin: 0 auto; 
    background-color: #ffffff;
    aspect-ratio: 1; 
    flex-flow: column wrap; 
    justify-content: space-evenly; 
    align-content: stretch; 
}

.cell {
    flex: 1 1 auto; 
    border: var(--level2); 
    width: auto; 
    background-color: yellow;
}